/* MAIN PAGE START */

  /* H1 CENTER LOGO/TEXT */
h1 {
  background-color: navy;
  color: white;
  font-weight: bold;
  width: auto;
  text-align: center;
}
  /* PICS CONTAINER */
.pics{
  width: 200px;
  height: 200px;
  border-top-left-radius: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 5px;
  border: 1px solid burlywood;
  object-fit: cover;
  position: absolute;
}
.pics:hover{
  filter: blur();
  -webkit-filter: blur(2px);
}
  /* PICS DISPLAY/SETUP */
.grid{
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-auto-rows: 220px;
  margin: auto;
  width: 50%;
}
  /* BUTTON LAYOUT START*/
button{
  background-color: burlywood;
  border-top-left-radius: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 3px;
}
.boton{
  margin: auto;
  width: 50%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.boton button h2{
  color: azure;
  text-align: center;
}
  /* BUTTON LAYOUT END*/

/* MAIN PAGE END */

/* FOOTER START */
.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 180px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  color:white;
  background-color: #4F95DA;
}
.copyright:hover{
  transition: 0.5s ease-in-out;
  background: #375c81;
}