h1 {
  background-color: navy;
  color: white;
  font-weight: bold;
  width: auto;
  text-align: center;
}
.pics{
  width: 200px;
  height: 200px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 5px;
  border: 1px solid burlywood;
  object-fit: cover;
}
button{
  background-color: burlywood; 
}
button h2{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color:azure;
}
.michos{
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-auto-rows: 220px;
}